@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&display=swap');
html {
  box-sizing: border-box;
  font-size: 10px;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color:#fff;
  font-size: 1.5rem;
}
