.loading-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  cursor: progress;
  background-color: rgba(0, 0, 0, 0.2)
}
.img-style{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}