.signup-form h2{
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 1rem 0 2rem 0;
  text-align: center;
  width: 100%;
}
.signup-form .form-group{
  margin-bottom: 2rem;
  position: relative;
}
.signup-form .form-group .text-danger {
  position: absolute;
  bottom: -19px;
  left: 1.8rem;
  font-size: 1.2rem;
  color: red;
  font-weight: 300;
  margin: 0;
}
.signup-form .form-group.form-check .text-danger {
  bottom: -15px;
  width: 100%;
}
.form-group label{
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin-bottom: .5rem;
  width: 100%;
  color: #bfbfbf;
  padding: 0 1.8rem;
 }
 .form-group .form-control{ 
   width: 100%;
   border-radius: 50px;
   padding: .5rem 1.8rem;
   font-size: 1.5rem;
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
  background-color: #242424;
  height: 45px;
  color: #fff;
  box-shadow: none;
  border: 1px solid #10ff8d;
 }
 .form-group .form-control:focus{ 
   box-shadow: none;
 }
.form-group.form-check{
   text-align: center;
 }
 .check-block {
   position: relative;
   display: inline-block;
 }
 .check-block label{
   padding-left: 0rem;
 }
 .check-block a{ 
   color: #10ff8d;
   text-decoration: underline;
 }
 .check-block a:hover{ 
   text-decoration: none;
 }

 .button-block {
   text-align: center;
   display: flex;
  justify-content: center;
 }
 .btn {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 50px;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
    font-weight: 400;
  border: none;
  min-width: 150px;
  text-transform: uppercase;
 }

 .btn-success {
  background-color: #10ff8d;
  color: #242424;
 }
 .btn-success:hover { 
  background-color: #121212;
  color: #fff;
 }

 .form-check-input:checked {
  background-color: #10ff8d;
  border-color: #10ff8d;
}
.close span{
  visibility: visible;
  font-weight: bold;
}

.close{
  visibility: hidden;
  position: absolute;
  right: 15px;
  top: 0px;
  width: 20px;
  height: 20px;
}