.signup-outer {
    padding: 1.5rem;
  }
  .form-container{
  background-color: #242424;
  border-radius: .6em;
}
  .signup {
    max-width: 600px;
    background-color: #242424;
    border-radius: .6em;
  }


  .outer {
    padding: 0 1.5rem;
  }
  .card-body {
    padding: 2rem;
  }
  .tab-menu {
    display: flex;
    justify-content: center;
  }
  .signup .card-body {
    padding: 5rem 10rem;
  }
  @media (max-width: 1024px){
    .signup .card-body {
      padding: 4rem 5rem;
    } 
  }
  
  @media (max-width: 640px){
    .signup .card-body {
      padding: 2rem;
    } 
  }
  .react-tabs__tab {
    bottom: 0 !important;
    border: none !important;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 1rem 2rem 0.8rem 2rem !important;
  }
  .react-tabs__tab:focus:after {
    display: none !important;
  }
  .react-tabs__tab-list, .react-tabs__tab-list:focus {
    display: inline-block;
    justify-content: center;
    border: none !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    padding: 0 !important;
    background: #121212;
    border-radius: 50px;
   
  }
  .react-tabs__tab-list::before, .react-tabs__tab-list::after {
    display: none !important;
  }
  
  .react-tabs__tab--selected {
    border-radius: 50px !important;
    background-color: #10ff8d !important;
    color: #121212 !important;
    border: none !important;
  }

  .react-tabs__tab-list {
    display: flex;
    justify-content: center;
    border: none !important;
  }
  